[submodule "Dashboard"]
	path = Dashboard
	url = https://github.com/linxs953/SI_Dashboard
[submodule "Storage"]
	path = Storage
	url = https://github.com/linxs953/SI_Storage
[submodule "Cluster/Entry"]
	path = Cluster/Entry
	url = https://github.com/linxs953/SI_Entry
[submodule "Cluster/Scheduler"]
	path = Cluster/Scheduler
	url = https://github.com/linxs953/SI_Scheduler
[submodule "Cluster/Registry"]
	path = Cluster/Registry
	url = https://github.com/linxs953/SI_Registry
[submodule "Cluster/Core"]
	path = Cluster/Core
	url = https://github.com/linxs953/SI_Core
