[submodule "Frontend"]
	path = Frontend
	url = https://github.com/linxs953/SI_Dashboard.git
[submodule "Backend"]
	path = Backend
	url = https://mrfvfglr.bja.sealos.run/linxs/LCT_Backend.git
[submodule "Cluster/SI_Scheduler"]
	path = Cluster/SI_Scheduler
	url = https://mrfvfglr.bja.sealos.run/linxs/scheduler.git
[submodule "Cluster/Component"]
	path = Cluster/Component
	url = https://mrfvfglr.bja.sealos.run/linxs/LCT_Cluster.git
[submodule "Cluster/Images"]
	path = Cluster/Images
	url = https://mrfvfglr.bja.sealos.run/linxs/Image.git
